<%= form_with(model: invoice, local: true) do |form| %>
  <% if invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
        <% invoice.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
   <label class="col-form-label" for="inputDefault"><%= form.label :product_id %></label>
    <%= form.text_field :product_id, class:"form-control", placeholder:"Product XPTO..." %>
  </div>

  <div class="form-group">
    <label class="col-form-label" for="inputDefault"><%= form.label :customer_id %></label>
    <%= form.text_field :customer_id, class:"form-control", placeholder:"Customer XPTO..." %>
  </div>

  <div class="form-group">
    <div class="col-4 invoice-col">
    <label class="col-form-label" for="inputDefault"><%= form.label :quantity %></label>
      <%= form.text_field :quantity, class:"form-control", placeholder:"10" %>
    </div>
  </div>

  <div class="form-group">
    <fieldset>
      <div class="col-4 invoice-col">
        <label class="col-form-label" for="readOnlyInput"><%= form.label :Total %></label>
        <%= form.text_field :Total, class:"form-control", id:"readOnlyInput", readonly:"" %>
        </div>
    </fieldset>
  </div>

  <div class="actions">
    <%= form.submit nil, class:"btn btn-success btn-sm" %>
  </div>
<% end %>
