<p id="notice"><%= notice %></p>
<br>
<div class="row justify-content-center">
  <div class="col-md-8 col-md-offset-2">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Show Invoices</h3>
      </div>
      <div class=card-body>
      <p>
        <strong>Date:</strong>
        <%= @invoice.date %>
      </p>

      <p>
        <strong>Customer:</strong>
        <%= @invoice.customer %>
      </p>

      <p>
        <strong>Tax:</strong>
        <%= @invoice.tax %>
      </p>

      <p>
        <strong>Salesperson:</strong>
        <%= @invoice.Salesperson %>
      </p>
      <div class="card-footer">
        <%= link_to 'Edit', edit_invoice_path(@invoice), class:"btn btn-info" %> |
        <%= link_to 'Back', invoices_path, class:"btn btn-primary" %>
      </div>
    </div>
  </div>
</div>