<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-field">
    <label class="col-form-label" for="inputDefault"><%= form.label :name %></label>
    <%= form.text_field :name, class:"form-control", placeholder:"Name XPTO..." %>
  </div>

  <div class="form-field">
    <label class="col-form-label" for="inputDefault"><%= form.label :email %></label>
    <%= form.text_field :email, class:"form-control", placeholder:"user@user.com" %>
  </div>

  <div class="form-field">
    <label class="col-form-label" for="inputDefault"><%= form.label :phone %></label>
    <%= form.text_field :phone, class:"form-control", placeholder:"xx (00) 0000-0000" %>
  </div>

  <div class="form-field">
    <label class="col-form-label" for="inputDefault"><%= form.label :kind %></label>
    <%= form.select :kind, User.kinds.keys, class:"custom-select" %>
  </div>

  <div class="form-field">
    <label class="col-form-label" for="inputDefault"><%= form.label :status %></label>
    <%= form.select :status, User.statuses.keys, {:class => 'custom-select'} %>
  </div>

  <div class="actions">
    <%= form.submit nil, class:"btn btn-success btn-sm" %>
  </div>
<% end %>
