<%= form_with(model: customer, local: true) do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
        <% customer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-field">
    <label class="col-form-label" for="inputDefault"><%= form.label :name %></label>
    <%= form.text_field :name, class:"form-control", placeholder:"Name XPTO..." %>
  </div>

  <div class="form-field">
    <label class="col-form-label" for="inputDefault"><%= form.label :company_name %></label>
    <%= form.text_field :company_name, class:"form-control", placeholder:"Company XPTO..." %>
  </div>

  <div class="form-field">
    <label class="col-form-label" for="inputDefault"><%= form.label :document %></label>
    <%= form.text_field :document, class:"form-control", placeholder:"CNPJ, CPF..." %>
  </div>

  <div class="form-field">
    <label class="col-form-label" for="inputDefault"><%= form.label :email %></label>
    <%= form.text_field :email, class:"form-control", placeholder:"customer@customer.com..." %>
  </div>

  <div class="form-field">
    <label class="col-form-label" for="inputDefault"><%= form.label :phone %></label>
    <%= form.text_field :phone, class:"form-control", placeholder:"xx (00) 0000-0000" %>
  </div>

  <div class="form-field">
    <label class="col-form-label" for="inputDefault"><%= form.label :status %></label>
    <%= form.select :status, Customer.statuses.keys, class:"form-control" %>
  </div>

<h2>Address</h2>

  <%= form.fields_for :addresses do |address_form| %>


    <div class="form-field">
      <label class="col-form-label" for="inputDefault"><%= address_form.label :country %></label>
      <%= address_form.text_field :country, class:"form-control", placeholder:"País XPTO" %>
    </div>

    <div class="form-field">
      <label class="col-form-label" for="inputDefault"><%= address_form.label :state %></label>
      <%= address_form.text_field :state, class:"form-control", placeholder:"Estado XPTO" %>
    </div>

    <div class="form-field">
      <label class="col-form-label" for="inputDefault"><%= address_form.label :city %></label>
      <%= address_form.text_field :city, class:"form-control", placeholder:"Cidade XPTO" %>
    </div>

    <div class="form-field">
      <label class="col-form-label" for="inputDefault"><%= address_form.label :neighborhood %></label>
      <%= address_form.text_field :neighborhood, class:"form-control", placeholder:"Bairo XPTO" %>
    </div>
    <div class="form-field">
      <label class="col-form-label" for="inputDefault"><%= address_form.label :street %></label>
      <%= address_form.text_field :street, class:"form-control", placeholder:"Rua XPTO..." %>
    </div>

    <div class="form-field">
      <label class="col-form-label" for="inputDefault"><%= address_form.label :number %></label>
      <%= address_form.text_field :number, class:"form-control", placeholder:"Number XPTO..." %>
    </div>

  <% end %>

<br>
  <div class="actions">
    <%= form.submit nil, class:"btn btn-success btn-sm" %>
  </div>
<% end %>